<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Run tests in parallel" parallel="tests" verbose="1" configfailurepolicy="continue" thread-count="10">


    <parameter name="appPackageNameOrApplicationName" value="${appPkg}"/>
    <parameter name="appActivity" value="${appAct}"/>

    <test name="iPhoneXTest">
        <parameter name="osName" value="ios"/>
        <parameter name="testName" value="ProjectNG1"/>
        <parameter name="deviceQuery" value="@Model ='iPhone X'"/>
            <packages>
                <package name="automation.TestClasses"/>
            </packages>
    </test>
    <test name="iPhone7+Test">
        <parameter name="osName" value="ios"/>
        <parameter name="testName" value="ProjectNG2"/>
        <parameter name="deviceQuery" value="@Model ='iPhone 7+'"/>
        <packages>
            <package name="automation.TestClasses"/>
        </packages>
    </test>
    <test name="Android1Test">
        <parameter name="osName" value="android"/>
        <parameter name="testName" value="ProjectNG3"/>
        <parameter name="deviceQuery" value="@os='android'"/>
        <packages>
            <package name="automation.TestClasses"/>
        </packages>
    </test>
    <test name="Android2Test">
        <parameter name="osName" value="android"/>
        <parameter name="testName" value="ProjectNG4"/>
        <parameter name="deviceQuery" value="@os='android'"/>
        <packages>
            <package name="automation.TestClasses"/>
        </packages>
    </test>
</suite>